/* ==========================================================================
   Global Styles - aderevyankin.ru
   ========================================================================== */

/*
  This file imports all the partials for the global styles.
  The order of imports is important.
*/

@import './_reset.css';
@import './_variables.css';
@import './_theme.css';
@import './_base.css';
@import './_layout.css';
@import './_ui.css';
